<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Manager Dashboard</title>
  <!-- Bootstrap CSS -->
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet">
  <style>
      .slider-container {
          margin: 20px 0;
      }
  </style>
</head>
<body>
<div class="container">
  <h1 class="my-4">Wait Dashboard</h1>
  <div class="col-md-3">
    <div class="row">
      <h2>Pathway</h2>
      <div>
        <select class="form-control" id="pathwaySelect" name="pathwaySelect">
          <option value="mental_health">Mental Health</option>
          <option value="neuro_developmental">Neuro Developmental</option>
        </select>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-md-3">
      <h2>Actual values</h2>
    </div>
    <div class="col-md-3">
      <h2>Modelling values</h2>
    </div>
  </div>
  <div class="row">
    <div class="col-md-3">
      <div class="slider-container">
        <label for="urgentRatio">Urgent vs. Non-Urgent Ratio</label>
        <span class="d-block">50%</span>
      </div>
    </div>
    <div class="col-md-6">
      <div class="slider-container">
        <input type="range" class="form-control-range" id="urgentRatio" name="urgentRatio" min="0" max="100" value="50" oninput="updateFields()">
        <span id="urgentRatioSliderValue">50%</span>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-md-3">
      <div class="slider-container">
        <label for="staffCount">Number of Staff</label>
        <span class="d-block">10</span>
      </div>
    </div>
    <div class="col-md-6">
      <div class="slider-container">
        <input type="range" class="form-control-range" id="staffCount" name="staffCount" min="1" max="100" value="10" oninput="updateFields()">
        <span id="staffCountSliderValue">10</span>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-md-3">
      <div class="slider-container">
        <label for="assessmentsPerMonth">New Assessments per Month per Clinician</label>
        <span class="d-block">20</span>
      </div>
    </div>
    <div class="col-md-6">
      <div class="slider-container">
        <input type="range" class="form-control-range" id="assessmentsPerMonth" name="assessmentsPerMonth" min="0" max="50" value="20"
               oninput="updateFields()">
        <span id="assessmentsPerMonthSliderValue">20</span>
      </div>
    </div>
  </div>
</div>
<!-- Bootstrap JS and dependencies -->
<script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
<script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.2/dist/umd/popper.min.js"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/5.3.3/js/bootstrap.min.js"></script>
<script>
    function updateFields() {
        const urgentRatio = document.getElementById('urgentRatio').value;
        const staffCount = document.getElementById('staffCount').value;
        const assessmentsPerMonth = document.getElementById('assessmentsPerMonth').value;

        document.getElementById('urgentRatioSliderValue').textContent = urgentRatio + '%';
        document.getElementById('staffCountSliderValue').textContent = staffCount;
        document.getElementById('assessmentsPerMonthSliderValue').textContent = assessmentsPerMonth;
    }
</script>
</body>
</html>
